[mysqld]
innodb_file_per_table
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
#
#
#
#default_storage_engine         = InnoDB
#character_set_server           = utf8                                # If you prefer utf8
#collation_server               = utf8_general_ci
#innodb_strict_mode             = ON
#innodb_file_format_check       = 1
#innodb_buffer_pool_size        = 128M                                # Go up to 80% of your available RAM
#innodb_additional_mem_pool_size=512M
#innodb_buffer_pool_instances   = 8                                   # Bigger if huge InnoDB Buffer Pool or high concurrency
#
#innodb_file_per_table          = 1                                   # Is the recommended way nowadays
#
#innodb_flush_log_at_trx_commit = 2                                   # 1 for durability, 0 or 2 for performance
innodb_log_buffer_size         = 4G                                  # Bigger if innodb_flush_log_at_trx_commit = 0
#innodb_log_file_size           = 2G                                # Bigger means more write throughput but longer recovery time


[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
optimizer_switch = 'index_condition_pushdown=off'
max_connections = 300
key_buffer              = 8M
query_cache_size        = 0M
query_cache_type        = 0M
query_cache_limit       = 2M
join_buffer_size        = 512K
tmp_table_size          = 32M
max_heap_table_size     = 32M
thread_stack            = 128K
wait_timeout            = 86400
interactive_timeout     = 86400
thread_cache_size       = 4
table_open_cache        = 4000
innodb_log_file_size    = 16M
innodb_buffer_pool_instances = 1








SET GLOBAL event_scheduler = ON;



 SHOW VARIABLES WHERE VARIABLE_NAME = 'event_scheduler';
+-----------------+-------+
| Variable_name   | Value |
+-----------------+-------+
| event_scheduler | ON    |
+-----------------+-------+
1 row in set (0.00 sec)





